@charset "UTF-8";

body {
    text-align: center;
}

.title {
    font-family: 'Press Start 2P', cursive;
}

#newNote {
    font-family: 'Press Start 2P', cursive;
    border-style: solid;
    border-radius: 10px;
    width: 800px;
    margin:auto;
    background-color: cornflowerblue;
}

#newNoteField {
    font-family: 'Press Start 2P', cursive;
    border-style: solid;
    border-radius: 10px;
    width: 600px;
    height: 50px;
}

#newNoteButton {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: black;
    width: 300px;
    height:100px;
    margin: auto;
    color: white;
    background-color: black;
}

/* Feature 02: Organizes new notes into rows with up to 6 notes per row. */
#newText {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: cornflowerblue;
    padding: 10px;
    margin: 5px;
  }

.noteContainer {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: black;
    width: 300px;
    height: auto;
    margin: auto;
    color: white;
    background-color: black;
}

@media only screen and (max-width: 2000px) {
    .noteContainer {
        font-family: 'Press Start 2P', cursive;
        font-size: 10px;
        border-style: solid;
        border-radius: 10px;
        border-width: 10px;
        border-color: black;
        width: 200px;
        height: auto;
        margin: auto;
        color: white;
        background-color: black;
    }
}

.noteItem {
    color: white;
    padding: 5px;
    word-wrap: break-word;
}

.removeButton {
    background-color: rgb(255, 71, 71);
    font-size: 10px;
    color:white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(255, 71, 71);
    width: 100px;
    height: 50px;
    margin: 2px;
}

.modifyButton {
    background-color: grey;
    font-size: 10px;
    color:white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: grey;
    width: 100px;
    height: 50px;
    margin: 2px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: cornflowerblue;
    padding: 10px;
    margin: 5px;
}

.gridNote {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: black;
    width: 200px;
    height: 100px;
    margin: 5px auto;
    color: white;
    background-color: black;
    justify-content: center;
}